# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
workspace

# IntelliJ
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# Gradle
build
.gradle

# Other
eclipse
run
runs

# Visual Studio Code
.settings/
.vscode/
bin/

# MacOS
*.DS_Store
generated/.cache/
