#Eclipse
bin
*.launch
.settings
.settings/*
.metadata
.classpath
.project
eclipse

#IDEA
out
*.ipr
*.iws
*.iml
.idea/*

#Gradle
build/*
.gradle/*

#Other
run/*
classes/*
info/*
.DS_Store